@import "tailwindcss";

@theme {
  --color-background: #F9FAFB;
  --color-surface: #FFFFFF;
  --color-primary: #5D4037;
  --color-secondary: #FBC02D;
  --color-text-main: #1F2937;
  --color-text-muted: #6B7280;
  
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #F9FAFB;
  --foreground: #1F2937;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
